# Dependencies
node_modules/

# Environment files
.env

# Build output
dist/
build/

# IDE / downloaded junk
Icons/
eSkooly - Free School Management System.html
eSkooly - Free School Management System_files/

# Frontend
frontend/**/node_modules
frontend/**/dist