# Ignore reference / junk files
Icons/
eSkooly - Free School Management System.html
eSkooly - Free School Management System_files/

node_modules/
backend/node_modules/
.env
dist/
build/

# Ignore frontend junk
frontend/**/node_modules
frontend/**/dist
.env
