#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}
 
/* =========================
   PRINT RULES
========================= */
@media print {
  body * {
    display: none !important;
  }
  .statement-page,
  .statement-page * {
    display: block !important;
  }
  .statement-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
  }
}
 

